{% extends "pretixcontrol/event/base.html" %}
{% load i18n static bootstrap3 %}

{% block title %}{% translate "HubSpot Activity Log" %} :: {% endblock %}

{% block content %}
    <h1>
        <a href="{% url 'plugins:hubspot:hubspot' organizer=request.event.organizer.slug event=request.event.slug %}" class="btn btn-link btn-lg">
            <i class="fa fa-arrow-left"></i>
        </a>
        {% translate "HubSpot Activity Log" %}
    </h1>

            <form class="filter-form" action="" method="get">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        {% bootstrap_field filter_form.query layout='inline' %}
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        {% bootstrap_field filter_form.type layout='inline' %}
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        {% bootstrap_field filter_form.date_from layout='inline' %}
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        {% bootstrap_field filter_form.date_until layout='inline' %}
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        {% include "eventyay_common/filter_actions.html" %}
                    </div>
                </div>
            </form>

    <div class="panel panel-default">
        <div class="panel-body" id="logs-container" data-ajax-results-region>
            {% if activities %}
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>{% translate "Time" %}</th>
                                <th>{% translate "Action" %}</th>
                                <th>{% translate "Log Type" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for activity in activities %}
                                <tr>
                                    <td class="text-muted">
                                        <span class="fa fa-clock-o"></span>
                                        {{ activity.timestamp|date:"SHORT_DATETIME_FORMAT" }}
                                    </td>
                                    <td>{{ activity.text }}</td>
                                    <td>{{ activity.type|title }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include "pretixcontrol/pagination.html" %}
            {% else %}
                <p class="text-muted">{% translate "No activity found for this filter." %}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
