{% extends "pretixcontrol/organizers/base.html" %}
{% load i18n static %}

{% block custom_header %}
    <link rel="stylesheet" type="text/css" href="{% static "hubspot/css/settings_landing.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "hubspot/css/organizer_settings.css" %}">
    <script type="text/javascript" src="{% static "hubspot/js/organizer_settings.js" %}"></script>
{% endblock %}

{% block title %}{% translate "HubSpot Integration" %} :: {% endblock %}

{% block inner %}
    <div class="row">
        <div class="col-md-9">
            <h1>{% translate "HubSpot Integration" %}</h1>
            <p>{% translate "Automatically transfer order and attendee data to your HubSpot CRM for all events under this organizer." %}</p>
        </div>
        <div class="col-md-3 text-right">
            <form method="post" action="{% url "plugins:hubspot:org_hubspot" organizer=request.organizer.slug %}" id="hubspot-toggle-form">
                {% csrf_token %}
                <input type="hidden" name="form_type" value="toggle">
                <div class="toggle-wrapper organizer-toggle-wrapper">
                    <label class="hubspot-toggle">
                        <input type="checkbox" name="sync_enabled" {% if sync_enabled %}checked{% endif %} onchange="document.getElementById('hubspot-toggle-form').submit();">
                        <span class="slider"></span>
                    </label>
                </div>
            </form>
        </div>
    </div>

    {% if sync_enabled %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{% translate "HubSpot Connection" %}</h3>
        </div>
        <div class="panel-body">
            {% if is_connected %}
                <p class="text-success">
                    {% translate "Connected to" %}
                    {% if hub_name %}<strong>{{ hub_name }}</strong>{% endif %}
                    {% if hub_id %}(ID: {{ hub_id }}){% endif %}
                </p>
                <form method="post" action="{% url "plugins:hubspot:org_disconnect" organizer=request.organizer.slug %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">
                        {% translate "Disconnect" %}
                    </button>
                </form>
            {% else %}
                <p>{% translate "This organizer is not yet connected to a HubSpot account." %}</p>
                <div>
                    <a href="{% url "plugins:hubspot:org_connect" organizer=request.organizer.slug %}" class="btn btn-primary">
                        {% translate "Connect to HubSpot" %}
                    </a>
                </div>
            {% endif %}
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{% translate "Your Events" %}</h3>
        </div>
        <form method="post" action="{% url 'plugins:hubspot:org_hubspot' organizer=request.organizer.slug %}">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="events_toggle">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>{% translate "Event Name" %}</th>
                            <th class="text-center">{% translate "Connection Status" %}</th>
                            <th class="text-center">{% translate "Mapping Status" %}</th>
                            <th class="text-center">{% translate "Sync Enabled" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in events %}
                            <tr>
                                <td>
                                    <input type="hidden" name="event_ids" value="{{ event.id }}">
                                    <a href="{% url 'plugins:hubspot:hubspot' organizer=request.organizer.slug event=event.slug %}">
                                        <strong>{{ event.name }}</strong>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <span class="label label-{{ event.connection_badge_class }}">
                                        {{ event.connection_status_text }}
                                    </span>
                                </td>
                                <td class="text-center">
                                    <span class="label label-{{ event.mapping_badge_class }}">
                                        {{ event.mapping_status_text }}
                                    </span>
                                    {% if event.has_mapping_conflict %}
                                        <br>
                                        <span class="text-warning small conflict-warning">
                                            <i class="fa fa-exclamation-triangle"></i> {% translate "Conflict with defaults" %}
                                        </span>
                                        <br>
                                        <a href="{% url 'plugins:hubspot:resolve_conflict' organizer=request.organizer.slug event=event.slug %}" class="btn btn-warning btn-xs" style="margin-top: 5px;">
                                            {% translate "Resolve" %}
                                        </a>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    <label class="hubspot-toggle" style="vertical-align: middle;">
                                        <input type="checkbox" name="event_sync_enabled_{{ event.id }}" value="1" {% if event.event_sync_enabled %}checked{% endif %}>
                                        <span class="slider"></span>
                                    </label>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="4" class="text-center">
                                    <em>{% translate "No events found under this organizer." %}</em>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if events %}
                <div class="panel-footer text-right">
                    <button type="submit" class="btn btn-primary">
                        {% translate "Save changes" %}
                    </button>
                </div>
            {% endif %}
        </form>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{% translate "Default Object Mappings" %}</h3>
        </div>
        <div class="panel-body">
            <p>{% translate "Set up default object mappings for all events under this organizer." %}</p>
            <p class="text-muted">
                {% translate 'Depending on whether you select "orders" or "order positions" as the "eventyay object type", one HubSpot object is created for each order or one for each order item. The selection under "HubSpot object type" determines into which type of HubSpot object the data is stored.' %}
            </p>
            <form method="post" id="mapping-form" action="{% url 'plugins:hubspot:org_hubspot' organizer=request.organizer.slug %}">
                {% csrf_token %}
                <input type="hidden" name="form_type" value="default_mappings">
                {{ default_mappings_formset.management_form }}

                {% if default_mappings_formset.non_form_errors %}
                    <div class="alert alert-danger">
                        {% for error in default_mappings_formset.non_form_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                <div id="mapping-rows">
                    <div class="row mapping-row-header">
                        <div class="col-md-4"><strong>{% translate "eventyay object type" %}</strong></div>
                        <div class="col-md-4"><strong>{% translate "HubSpot object type" %}</strong></div>
                        <div class="col-md-4"></div>
                    </div>
                    {% for form in default_mappings_formset %}
                    <div class="mapping-row"{% if form.instance.pk %} data-id="{{ form.instance.pk }}"{% endif %}>
                        {{ form.id }}
                        {{ form.position }}
                        <div class="row">
                            <div class="col-md-4">
                                {{ form.eventyay_object_type }}
                                {% if form.eventyay_object_type.errors %}
                                    <span class="text-danger">{{ form.eventyay_object_type.errors.0 }}</span>
                                {% endif %}
                            </div>
                            <div class="col-md-4">
                                {{ form.hubspot_object_type }}
                                {% if form.hubspot_object_type.errors %}
                                    <span class="text-danger">{{ form.hubspot_object_type.errors.0 }}</span>
                                {% endif %}
                            </div>
                            <div class="col-md-4">
                                <div class="btn-group" role="group">
                                    {% if form.instance.pk %}
                                        <a href="{% url 'plugins:hubspot:org_default_mapping_fields' organizer=request.organizer.slug mapping_id=form.instance.pk %}" class="btn btn-default btn-edit-mapping" title="{% translate 'Edit mapping' %}">
                                            <i class="fa fa-pencil"></i> {% translate "Edit mapping" %}
                                        </a>
                                    {% else %}
                                        <button type="button" class="btn btn-default btn-edit-mapping" title="{% translate 'Save mapping first to edit fields' %}" disabled>
                                            <i class="fa fa-pencil"></i> {% translate "Edit mapping" %}
                                        </button>
                                    {% endif %}
                                    <button type="button" class="btn btn-default btn-move-up" title="{% translate 'Move up' %}">
                                        <i class="fa fa-arrow-up"></i>
                                    </button>
                                    <button type="button" class="btn btn-default btn-move-down" title="{% translate 'Move down' %}">
                                        <i class="fa fa-arrow-down"></i>
                                    </button>
                                    <span class="hidden-element">{{ form.DELETE }}</span>
                                    <button type="button" class="btn btn-danger btn-delete-mapping" title="{% translate 'Delete' %}">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <button type="button" class="btn btn-default btn-sm add-mapping-btn" id="add-mapping">
                    <i class="fa fa-plus"></i> {% translate "Add mapping" %}
                </button>

                <p class="text-muted mapping-info-text">
                    <i class="fa fa-info-circle"></i>
                    {% translate "Multiple object mappings will be evaluated in order. Associations can reference all objects created earlier on." %}
                </p>

                <div class="text-right mapping-submit-group">
                    <button type="submit" class="btn btn-primary">
                        {% translate "Save" %}
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{% translate "Activity Logs" %}</h3>
        </div>
        <div class="panel-body">
            <form method="get" action="" id="activity-log-event-form" class="form-inline activity-log-form">
                <div class="form-group">
                    <label for="activity-log-event-select" class="activity-log-label">{% translate "Event" %}</label>
                    <select name="event" id="activity-log-event-select" class="form-control activity-log-select">
                        <option value="">— {% translate "Select an event" %} —</option>
                        {% for ev in events %}
                            <option value="{{ ev.slug }}" {% if ev.slug == selected_event_slug %}selected{% endif %}>{{ ev.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>

            {% if selected_event %}
                {% if recent_activities %}
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>{% translate "Time" %}</th>
                                    <th>{% translate "Action" %}</th>
                                    <th>{% translate "Log Type" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for activity in recent_activities %}
                                    <tr>
                                        <td class="text-muted"><small>{{ activity.timestamp|date:"SHORT_DATETIME_FORMAT" }}</small></td>
                                        <td>{{ activity.text }}</td>
                                        <td>{{ activity.type|title }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center">
                        <a href="{% url 'plugins:hubspot:logs' organizer=request.organizer.slug event=selected_event.slug %}?from=org" class="btn btn-default">
                            {% translate "View more" %}
                        </a>
                    </div>
                {% else %}
                    <p class="text-muted">{% translate "No activity log entries for this event." %}</p>
                {% endif %}
            {% elif not selected_event_slug %}
                <p class="text-muted">{% translate "Select an event to view its activity logs." %}</p>
            {% endif %}
        </div>
    </div>
    {% endif %}
{% endblock %}
