{% extends "pretixcontrol/organizers/base.html" %}
{% load i18n static %}
{% load bootstrap3 %}

{% block custom_header %}
    <script type="text/javascript" src="{% static "hubspot/js/field_mapping.js" %}" defer></script>
{% endblock %}

{% block title %}{% translate "Field Mapping" %} :: {% endblock %}

{% block content %}
    <h1>
        {% blocktranslate with object=content_type.name hubspot=hubspot_object_type %}
            Field Mapping for {{ object }} to {{ hubspot }}
        {% endblocktranslate %}
        <a href="{% url 'plugins:hubspot:org_hubspot' organizer=request.organizer.slug %}"
           class="btn btn-default btn-sm pull-right">
            <i class="fa fa-chevron-left"></i> {% translate "Back" %}
        </a>
    </h1>

    <form method="post" action="" class="form-horizontal" id="field-mapping-form" data-is-fetching="{% if is_fetching_properties %}true{% else %}false{% endif %}">
        {% csrf_token %}
        {{ formset.management_form }}

        {% if not has_rows %}
            <div class="alert alert-info">
                {% translate "No field mappings exist yet. Please add your first row to map an Eventyay field to a HubSpot property." %}
            </div>
        {% endif %}

        {% if formset.non_form_errors %}
            <div class="alert alert-danger">
                {{ formset.non_form_errors }}
            </div>
        {% endif %}

        {% if sync_error %}
            <div class="alert alert-danger">
                <p><strong>{% translate "Error syncing HubSpot properties:" %}</strong> {{ sync_error }}</p>
                <a href="?force_sync=1" class="btn btn-danger" style="margin-top: 10px;">
                    <i class="fa fa-refresh"></i> {% translate "Manual Sync Fetch" %}
                </a>
            </div>
        {% endif %}

        <table class="table table-striped table-condensed formset-table" id="field-mapping-table">
            <thead>
                <tr>
                    <th style="width: 35%;">{% translate "Eventyay Field" %}</th>
                    <th style="width: 35%;">{% translate "HubSpot Property" %}</th>
                    <th style="width: 15%;">{% translate "Sync Mode" %}</th>
                    <th class="text-center" style="width: 8%;">{% translate "Active" %}</th>
                    <th class="text-center" style="width: 7%;">{% translate "Delete" %}</th>
                </tr>
            </thead>
            <tbody id="field-mapping-formset" data-formset-prefix="{{ formset.prefix }}">
                {% for form in formset %}
                    <tr class="formset-row">
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        <td>
                            {{ form.eventyay_field }}
                            {% for error in form.eventyay_field.errors %}
                                <div class="text-danger small">{{ error }}</div>
                            {% endfor %}
                            {% if form.warnings %}
                                <div class="text-warning small">
                                    {% for warning in form.warnings %}
                                        <i class="fa fa-exclamation-triangle"></i> {{ warning }}<br>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </td>
                        <td>
                            {{ form.hubspot_property }}
                            {% for error in form.hubspot_property.errors %}
                                <div class="text-danger small">{{ error }}</div>
                            {% endfor %}
                        </td>
                        <td>
                            {{ form.sync_mode }}
                            {% for error in form.sync_mode.errors %}
                                <div class="text-danger small">{{ error }}</div>
                            {% endfor %}
                        </td>
                        <td class="text-center" style="vertical-align: middle;">
                            {{ form.is_active }}
                        </td>
                        <td class="text-center" style="vertical-align: middle;">
                            {% if not form.instance.pk or form.instance.sync_mode != 'identifier' %}
                                <button type="button" class="btn btn-danger btn-sm remove-form-row">
                                    <i class="fa fa-trash"></i>
                                </button>
                            {% endif %}
                            <span style="display:none;">{{ form.DELETE }}</span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Empty form template for JavaScript -->
        <script type="text/html" id="empty-form-template">
            <tr class="formset-row">
                {% for hidden in formset.empty_form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                <td>{{ formset.empty_form.eventyay_field }}</td>
                <td>{{ formset.empty_form.hubspot_property }}</td>
                <td>{{ formset.empty_form.sync_mode }}</td>
                <td class="text-center" style="vertical-align: middle;">
                    {{ formset.empty_form.is_active }}
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    <button type="button" class="btn btn-danger btn-sm remove-form-row">
                        <i class="fa fa-trash"></i>
                    </button>
                    <span style="display:none;">{{ formset.empty_form.DELETE }}</span>
                </td>
            </tr>
        </script>

        <button type="button" id="add-form-row" class="btn btn-default">
            <i class="fa fa-plus"></i> {% translate "Add row" %}
        </button>

        <div class="text-right" style="margin-top: 20px;">
            <a href="{% url 'plugins:hubspot:org_hubspot' organizer=request.organizer.slug %}" class="btn btn-default btn-lg">
                {% translate "Cancel" %}
            </a>
            <button type="submit" class="btn btn-primary btn-lg btn-save">
                {% translate "Save configuration" %}
            </button>
        </div>
    </form>

{% endblock %}
