{% extends "pretixcontrol/event/base.html" %}
{% load i18n %}

{% block title %}{% translate "HubSpot Integration" %} :: {% endblock %}

{% block content %}
    <h1>{% translate "HubSpot Integration" %}</h1>
    <p>{% translate "Automatically transfer order and attendee data to your HubSpot CRM." %}</p>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{% translate "Connect to HubSpot" %}</h3>
        </div>
        <div class="panel-body">
            <p>{% translate "This event is not yet connected to a HubSpot account." %}</p>
            <div>
                <a href="#" class="btn btn-primary">
                    {% translate "Request access" %}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
